@model IEnumerable<EcommerceProject.Models.Category>
@{
    ViewData["Title"] = "Search";
    Layout = null;
}

@if (Model != null && Model.Any())
{
    var i = 1;
    foreach (var item in Model)
    {
        <tr id="trow_@item.Id" >
            <td>@i</td>
            <td>@item.Title</td>
            <td>
                <button data-id="@item.Id" class="btn btn-sm btn-success editCategory">Sửa</button>
                <button data-id="@item.Id" class="btn btn-sm btn-danger deleteCategory">Xóa</button>
            </td>
        </tr>
        i++;
    }
}
else
{
    <tr>
        <td colspan="4">Không có danh mục</td>
    </tr>
}


